//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .block-search {

    .minisearch {

      .nested {
        display: none;
      }
    }

    .action.search {

      &:before {
        .lib-css(color, @primary__color);
      }
    }
  }
}



//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .block-search {
    float: left;
    padding-left: 0;

    .action.search {

      &:focus {

        &:before {
          .lib-css(color, @primary__color);
        }
      }
    }

    .nested {
      display: none;
    }
  }
}



//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .block-search {
    width: ~'calc(100% - 50px)';
    float: left;

    .control {
      border-top: 0;
    }
  }
}
