//
//  Common
//  _____________________________________________

& when (@media-common = true) {

}



//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .logo {
    width: ~'calc(100% - 500px)';
    max-width: unset;
    display: block;

    img {
      margin: 0 auto;
    }
  }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .header.content {
    position: relative;
    min-height: 80px;
  }

  .logo {
    position: absolute;
    margin: 0;
    left: 50%;
    top: 0;
    .lib-css(transform, translateX(-50%),1);
  }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
  .logo {
    img {
      max-width: 100px;
    }
  }
}