
//
//  Common
//  _____________________________________________

& when (@media-common = true) {

  //  Newsletter subscription
  .block.newsletter {

    .form.subscribe {
      .lib-css(display, flex, 1);
      width: 100%;
    }

    .field {
      margin: 0;
      .lib-css(flex-grow, 2, 1);
      .lib-css(flex-shrink, 2, 1);

      .control{

        &:before {
          content: "";
          display: none;
        }
      }
    }

    .title {
      display: block;
      margin-bottom: 15px;
    }

    .action.subscribe {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      margin-left: -1px;
      width: 100%;
    }

    .actions {
      .lib-css(flex-grow, 0, 1);
      .lib-css(flex-shrink, 1, 1);
      .lib-css(flex-basis, 100px, 1);
    }

    input {
      padding-left: 9px;
    }
  }
}




//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .block.newsletter {
    width: 32%;

    .action.subscribe {
      border-radius: 0;
    }

    .field {
      margin-right: 0;
    }
  }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .block.newsletter {
    margin-top: 20px;
    margin-bottom: 0;
  }
}