//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .minicart-wrapper {

    .action {

      &.showcart {
        position: relative;

        &:before {
          content: '';
          display: inline-block;
          height: 40px;
          width: 30px;
          background-position: -52px -165px;
          padding: 0;
          background-image: url(../images/bgi/sprite-20170203.png);
          background-repeat: no-repeat;
        }

        &.active {

          &:before {
            content: '';
          }
        }

        .counter {

          &.qty {
            color: @color-white;
            text-align: center;
            font-size: 10px;
            line-height: 35px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: transparent;
          }
        }
      }
    }
  }
}



//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}
