// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .product.data.items {
        .lib-data-accordion();
        margin-bottom: @indent__base;
    }

    .page-footer {
        background-color: @footer-bg;

        .footer {

            &.content {
                border-top: 0;
                .lib-css(display, flex,1);
                .lib-css(justify-content, space-between,1);
                .lib-css(flex-wrap, wrap,1);
            }
        }
    }

    .footer-bottom-copyright {
        background-color: @footer-copyright-bg;
        color: @color-white;
        text-align: center;
        font-weight: 600;
        padding: 12px;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product.data.items {
        .lib-data-tabs();
    }

    .footer {

        &-nav {

            &__menu {
                .lib-css(display, flex,1);
                .lib-css(flex-wrap, wrap,1);
                .lib-css(justify-content, flex-start,1);
            }

            &__column {
                margin-right: 35px;
            }
        }
    }

    .top-banner {
        margin-top: -25px;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .product.data.items {
        .lib-data-accordion();

        .data.item {
            display: block;
        }

        .item.title {
            > .switch {
                padding: 1px 15px 1px;
            }
        }

        > .item.content {
            padding: 10px 15px 30px;
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .page-footer {
        .footer.content {
            display: block;
        }
    }
}

