// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

//
//  Sections variables
//  _____________________________________________

//
//  Tabs
//  ---------------------------------------------
@tab-content__border-top-status: true;


//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background


//
//  Nesting
//  ---------------------------------------------

@primary__color: @color-black;
@border__color: @color-black;
@theme__color__primary:@color-black;
@footer-bg: #f3f3f3;
@footer-copyright-bg:@color-black;
@text__color: #333333;
@text__color__intense: darken(@text__color, 20%);
@text__color__muted: lighten(@text__color, 20%);
@input_color__border: #898989;

//
//  Buttons
//  ---------------------------------------------
@button__border-radius: 0;

//  Default = secondary button
@button__color: @color-white;
@button__background: @primary__color;
@button__border: 1px solid @button__background;

@button__hover__color: @button__color;
@button__hover__background: lighten(@button__background, 20%);
@button__hover__border: 1px solid @button__hover__background;

@button-primary__background: @button__background;
@button-primary__border: 1px solid @button-primary__background;
@button-primary__hover__background: @button__hover__background;
@button-primary__hover__border: 1px solid @button__hover__background;


//
//  Form variables
//  _____________________________________________

//
//  Form elements inputs default variables
//  ---------------------------------------------

@form-element-input__border-color: @input_color__border;
@form-element-input__border-radius: 0;


//
//  Navigation variables
//  _____________________________________________

@navigation__background: @primary__color;
@navigation-level0-item__padding: 8px @indent__xl 8px 15px;
@navigation-level0-item__border: 1px solid @color-gray82;
@navigation-level0-item__color: @color-white;
